.container-data {
  margin-top: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  position: absolute;
  right: 50px;
  top: 100px;

}

.current-container, .alert {
  position: absolute;
  right: 260px;
  top: 350px;
}

.alert {
  background: red;
  width: fit-content;
}

.current {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

.data {
  margin-top: 20px;
}

input {
  padding: 5px;
  font-size: 20px;
  min-height: 30px;
  border: 1px solid;
  background-color: transparent;
  color: white;
  border-radius: 0;
}

form input:focus {
  background-color: transparent;
  box-shadow: none !important;
}

.currentBtn {
  background: white;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 1rem;
  padding: 5px;
}

h1, h4 {
  color: white;
}

